.offerImgContainer {
  opacity: 0.99;
  padding: 0;
}

.offerImg {
  display: block;
  /* max-height: 30vw; */
  height: 100vh !important;
  margin: auto;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.sliderDots {
  padding-bottom: 34px;
}
